Repository Exabyte-io/standata: changes, and which pre-commit hooks are due for each by the changed paths.
All: recreate-materials, recreate-dist, lint-staged

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: recreate-materials
        name: recreate-materials
        language: system
        # TODO: figure out how to make it work in PyCharm, only works in terminal
        entry: .venv/bin/python scripts/materials/create_materials.py && exit 0
        pass_filenames: false
        verbose: true
        files: ^sources/materials/|scripts/materials/create_materials.py
      - id: recreate-dist
        name: recreate-dist
        language: system
        entry: npm run build && exit 0
        pass_filenames: false
        verbose: true
        files: ^(sources/(materials|methods|models|applications|workflows|properties)/|scripts/(materials|methods|models|applications|workflows)/)
        exclude: ^(src/js/runtime_data/|dist/|data/|build/)
  - repo: https://github.com/Exabyte-io/pre-commit-hooks
    rev: 2023.8.18
    hooks:
      # TB temporary disable to avoid firing for autogenerated files
      # TODO: figure out how to ignore the files properly and re-enable
      #       - id: ruff
      #       - id: black
      - id: isort
      - id: mypy
      - id: check-yaml
        exclude: ^sources/.*\.ya?ml$
      - id: end-of-file-fixer
        exclude: ^data/.*\.json$|^build/.*\.json$|^dist/|src/py/mat3ra/standata/data/
      - id: trailing-whitespace
        exclude: ^dist/
  - repo: local
    hooks:
      - id: lint-staged
        exclude: "^dist/"
        name: lint-staged
        language: node
        entry: npx lint-staged
        verbose: true # to see familiar lint-staged output
        pass_filenames: false # lint-staged has its own glob expression

fix: update test fixture symlinks to new data/ and build/ paths
  .pre-commit-config.yaml
  tests/js/fixtures/BN-[Hexagonal_Boron_Nitride]-HEX_[P6%2Fmmm]_2D_[Monolayer]-[2dm-4991].json
  tests/js/fixtures/C-[Graphene]-HEX_[P6%2Fmmm]_2D_[Monolayer]-[2dm-3993].json
  tests/js/fixtures/NaCl-[Sodium_Chloride]-FCC_[Fm-3m]_3D_[Bulk]-[mp-22862].json
  tests/js/fixtures/Si-[Silicon]-FCC_[Fd-3m]_3D_[Bulk]-[mp-149].json
  tests/js/fixtures/WS2-[Tungsten_Disulfide]-HEX_[P-6m2]_2D_[Monolayer]-[2dm-3749].json
  tests/js/fixtures/applicationVersionsMapByApplication.json
  tests/js/fixtures/band_structure.json
  tests/js/fixtures/espresso_gnu_6.3.json
  tests/js/fixtures/total_energy.json
Due: lint-staged

update: refactor top level structure
  build_runtime_data.js
  data/methods/pw/plane_wave_norm_conserving_pseudopotential_conjugate_gradient_diagonalization_gaussian_smearing.json
  data/methods/pw/plane_wave_norm_conserving_pseudopotential_conjugate_gradient_diagonalization_linear_tetrahedron_method.json
  data/models/lda/dft_lda_pz.json
  data/models/lda/dft_lda_pz_collinear.json
  data/models/lda/dft_lda_pz_d3.json
  data/models/lda/dft_lda_pz_d3_collinear.json
  data/models/lda/dft_lda_pz_d3_soc.json
  data/models/lda/dft_lda_pz_soc.json
  data/models/lda/dft_lda_pz_u.json
  data/models/lda/dft_lda_pz_u_collinear.json
  data/models/lda/dft_lda_pz_u_soc.json
  data/workflows/subworkflows/espresso/total_energy.json
  data/workflows/subworkflows/espresso/variable_cell_relaxation.json
  data/workflows/workflows/espresso/total_energy.json
  data/workflows/workflows/espresso/variable_cell_relaxation.json
  scripts/applications/build_applications.ts
  scripts/methods/buildUtils.ts
  scripts/models/build_model_method_map.ts
  scripts/utils.ts
  scripts/workflows/build_workflows.ts
Due: recreate-dist, lint-staged

update: use venv
  scripts/materials/build_materials.ts
Due: recreate-dist, lint-staged

fix: typo
  scripts/materials/build_materials.ts
Due: recreate-dist, lint-staged

chore: flatten maps
  dist/js/runtime_data/executableFlavorMapByApplication.json
  dist/js/runtime_data/modelMethodMap.json
  dist/js/runtime_data/templatesList.json
  dist/js/runtime_data/workflowSubforkflowMapByApplication.json
  scripts/applications/build_applications.ts
  scripts/models/build_model_method_map.ts
  scripts/workflows/build_workflows.ts
Due: recreate-dist, lint-staged

update: create materials
  package.json
Due: lint-staged

try: build materials on GHA:
  .github/workflows/cicd.yml
  package.json
Due: lint-staged

try: don't build materials on GHA
  .github/workflows/cicd.yml
  package.json
Due: lint-staged

chore: add comment
  .yamllint.yml
Due: lint-staged

update: add methods assets
  assets/methods/any_pw_psp_method.yml
  assets/methods/exabyte_ml.yml
  assets/methods/local_orbital_methods.yml
  assets/methods/units/ao_pople.yml
  assets/methods/units/diagonalization.yml
  assets/methods/units/occupations.yml
  assets/methods/units/psp.yml
  assets/methods/units/regression.yml
Due: lint-staged

update: add models assets
  assets/models/gga.yml
  assets/models/gw.yml
  assets/models/hybrid.yml
  assets/models/ml.yml
Due: lint-staged

update: remove and optimize
  dist/js/modelMethodFilter.d.ts
  dist/js/utils/modelMethodMapConverter.d.ts
  dist/js/utils/modelMethodMapConverter.js
  src/js/modelMethodFilter.ts
  src/js/types/modelMethodFilter.ts
  src/js/utils/modelMethodMapConverter.ts
Due: lint-staged

update: add utils for scripts
  scripts/utils.ts
Due: lint-staged

update: use utils for scripts
  build-config.js
  scripts/applications/build_applications.ts
  scripts/methods/buildUtils.ts
  scripts/methods/build_methods.ts
  scripts/models/build_model_method_map.ts
  scripts/models/build_models.ts
  scripts/workflows/build_workflows.ts
Due: recreate-dist, lint-staged

update: generalize build models methods
  scripts/BaseEntityBuilder.ts
  scripts/ModelMethodEntityBuilder.ts
  scripts/methods/build_methods.ts
  scripts/models/build_models.ts
Due: recreate-dist, lint-staged

update: add tests
  scripts/BaseEntityBuilder.ts
  tests/js/scripts-utils.test.ts
Due: lint-staged

feat: add categorization scripts
  scripts/BaseCategorizer.ts
  scripts/MethodModelCategorizer.ts
  scripts/models/create_models_categories.ts
Due: recreate-dist, lint-staged

update: add all short to human names
  scripts/MethodModelCategorizer.ts
Due: lint-staged

update: commands in package
  package.json
Due: lint-staged

update: add tests
  tests/js/scripts-categorizer.test.ts
Due: lint-staged

chore: regen dist
  assets/methods/categories.yml
  assets/models/categories.yml
  dist/js/method.d.ts
  dist/js/model.d.ts
  dist/js/runtime_data/applicationVersionsMapByApplication.json
  dist/js/runtime_data/methods.json
  dist/js/runtime_data/modelMethodMapByApplication.json
  dist/js/runtime_data/models.json
  dist/js/types/modelMethodFilter.d.ts
  dist/js/types/modelMethodFilter.js
  src/py/mat3ra/standata/data/methods.py
  src/py/mat3ra/standata/data/models.py
Due: lint-staged

update: units don't exist for all
  src/js/method.ts
  src/js/modelMethodFilter.ts
  src/py/mat3ra/standata/data/methods.py
Due: lint-staged

chore: regen dist
  assets/methods/categories.yml
  data/methods/diagonalization/conjugate_gradient_diagonalization.json
  data/methods/occupations/gaussian_smearing.json
  data/methods/occupations/linear_tetrahedron_method.json
  data/methods/psp/norm_conserving_pseudopotential.json
  data/methods/pw/wave_function_plane_wave.json
  dist/js/method.js
  dist/js/modelMethodFilter.js
  dist/js/runtime_data/methods.json
Due: lint-staged

chore: ignore dist to be below 20 files
  dist/js/method.d.ts
  dist/js/method.js
  dist/js/model.d.ts
  dist/js/modelMethodFilter.js
  dist/js/runtime_data/applicationVersionsMapByApplication.json
  dist/js/runtime_data/methods.json
  dist/js/runtime_data/modelMethodMapByApplication.json
  dist/js/runtime_data/models.json
Due: none

update: adapt tests with new entries
  tests/js/method.test.ts
  tests/js/model.test.ts
  tests/js/modelMethodFilter.test.ts
Due: lint-staged

chore: regen dist
  assets/methods/categories.yml
  assets/methods/exabyte_ml.yml
  assets/models/categories.yml
  assets/models/gw.yml
  assets/models/hybrid.yml
  assets/models/ml.yml
  data/methods/exabyte_ml/kernel_ridge_least_squares_regression.json
  data/methods/exabyte_ml/linear_least_squares_regression.json
  data/methods/exabyte_ml/linear_ridge_regression.json
  data/models/hybrid/dft_hybrid_b3lyp.json
  data/models/hybrid/dft_hybrid_b3lyp_collinear.json
  data/models/hybrid/dft_hybrid_b3lyp_d3.json
  data/models/hybrid/dft_hybrid_b3lyp_d3_collinear.json
  data/models/hybrid/dft_hybrid_b3lyp_d3_soc.json
  data/models/hybrid/dft_hybrid_b3lyp_soc.json
  data/models/hybrid/dft_hybrid_hse.json
  data/models/hybrid/dft_hybrid_hse_collinear.json
  data/models/hybrid/dft_hybrid_hse_d3.json
  data/models/hybrid/dft_hybrid_hse_d3_collinear.json
  data/models/hybrid/dft_hybrid_hse_d3_soc.json
  data/models/hybrid/dft_hybrid_hse_soc.json
  data/models/unknown/regression.json
  dist/js/method.d.ts
  dist/js/model.d.ts
  dist/js/runtime_data/methods.json
  dist/js/runtime_data/models.json
  src/py/mat3ra/standata/data/methods.py
  src/py/mat3ra/standata/data/models.py
Due: lint-staged

update: correctly flatten nested arrays
  scripts/BaseEntityBuilder.ts
  scripts/models/build_models.ts
Due: recreate-dist, lint-staged

chore: sync assets with mode
  assets/models/categories.yml
  assets/models/gw.yml
  assets/models/hybrid.yml
  assets/models/ml.yml
Due: lint-staged

update: fix test to omit non present
  tests/js/model.test.ts
Due: lint-staged

chore: regen dist
  data/models/evgw/evgw_pbe.json
  data/models/evgw/evgw_pbe_soc.json
  data/models/evgw/evgw_pbesol.json
  data/models/evgw/evgw_pbesol_soc.json
  data/models/evgw0/evgw0_pbe.json
  data/models/evgw0/evgw0_pbe_soc.json
  data/models/evgw0/evgw0_pbesol.json
  data/models/evgw0/evgw0_pbesol_soc.json
  data/models/g0w0/g0w0_pbe.json
  data/models/g0w0/g0w0_pbe_soc.json
  data/models/g0w0/g0w0_pbesol.json
  data/models/g0w0/g0w0_pbesol_soc.json
  data/models/re/regression.json
  dist/js/model.d.ts
  dist/js/runtime_data/models.json
  src/py/mat3ra/standata/data/models.py
Due: lint-staged

update: handle compatibility for no units
  src/js/modelMethodFilter.ts
Due: lint-staged

chore: regen dist
  dist/js/modelMethodFilter.js
  dist/js/runtime_data/modelMethodMap.json
Due: none

chore: json spaces 2 -> 4
  build-config.js
Due: lint-staged

update: cleanup
  scripts/BaseEntityBuilder.ts
  scripts/ModelMethodEntityBuilder.ts
  scripts/buildUtils.ts
  scripts/methods/build_methods.ts
  scripts/models/build_models.ts
Due: recreate-dist, lint-staged

update: cleanup 2
  scripts/buildUtils.ts
  scripts/methods/build_methods.ts
  scripts/models/build_models.ts
  scripts/utils.ts
Due: recreate-dist, lint-staged
