Repository Exabyte-io/standata: changes, and which pre-commit hooks are due for each by the changed paths.
All: recreate-materials, recreate-dist, lint-staged

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: recreate-materials
        name: recreate-materials
        language: system
        # TODO: figure out how to make it work in PyCharm, only works in terminal
        entry: .venv/bin/python scripts/materials/create_materials.py && exit 0
        pass_filenames: false
        verbose: true
        files: ^sources/materials/|scripts/materials/create_materials.py
      - id: recreate-dist
        name: recreate-dist
        language: system
        entry: npm run build && exit 0
        pass_filenames: false
        verbose: true
        files: ^(sources/(materials|methods|models|applications|workflows|properties)/|scripts/(materials|methods|models|applications|workflows)/)
        exclude: ^(src/js/runtime_data/|dist/|data/|build/)
  - repo: https://github.com/Exabyte-io/pre-commit-hooks
    rev: 2023.8.18
    hooks:
      # TB temporary disable to avoid firing for autogenerated files
      # TODO: figure out how to ignore the files properly and re-enable
      #       - id: ruff
      #       - id: black
      - id: isort
      - id: mypy
      - id: check-yaml
        exclude: ^sources/.*\.ya?ml$
      - id: end-of-file-fixer
        exclude: ^data/.*\.json$|^build/.*\.json$|^dist/|src/py/mat3ra/standata/data/
      - id: trailing-whitespace
        exclude: ^dist/
  - repo: local
    hooks:
      - id: lint-staged
        exclude: "^dist/"
        name: lint-staged
        language: node
        entry: npx lint-staged
        verbose: true # to see familiar lint-staged output
        pass_filenames: false # lint-staged has its own glob expression

update: use utils 3
  package.json
  scripts/applications/build_applications.ts
  scripts/utils.ts
Due: recreate-dist, lint-staged

chore: remove redundand
  tests/js/scripts-utils.test.ts
Due: lint-staged

chore: update package
  package-lock.json
  package.json
Due: lint-staged

update: cleanups
  scripts/utils.ts
  scripts/workflows/build_workflows.ts
Due: recreate-dist, lint-staged

update: use safe filename
  scripts/utils.ts
  scripts/workflows/build_workflows.ts
Due: recreate-dist, lint-staged

update: use read yaml from utils
  scripts/models/build_model_method_map.ts
  scripts/utils.ts
Due: recreate-dist, lint-staged

feat: base builder
  scripts/BaseEntityDataBuilder.ts
Due: lint-staged

feat: use builder for models and methods
  scripts/methods/build_methods.ts
  scripts/models/build_models.ts
Due: recreate-dist, lint-staged

chore: remove redundand
  scripts/utils.ts
Due: lint-staged

chore: simplify
  scripts/BaseEntityDataBuilder.ts
Due: lint-staged

update: build apps
  scripts/applications/build_applications.ts
  scripts/utils.ts
Due: recreate-dist, lint-staged

chore: update build runtime data and package.json
  build_runtime_data.js
  package.json
  scripts/applications/build_applications.ts
  scripts/methods/build_methods.ts
  scripts/methods/create_methods_categories.ts
  scripts/models/build_models.ts
  scripts/utils.ts
  scripts/workflows/build_workflows.ts
Due: recreate-dist, lint-staged

update: OOP asset handling draft x 2
  scripts/applications/build_applications.ts
  scripts/methods/build_methods.ts
  scripts/models/build_models.ts
  scripts/processors/ApplicationsProcessor.ts
  scripts/processors/BaseModelMethodProcessor.ts
  scripts/processors/EntityProcessor.ts
  scripts/processors/MethodsProcessor.ts
  scripts/processors/ModelsProcessor.ts
  scripts/processors/WorkflowsProcessor.ts
  scripts/utils.ts
  scripts/workflows/build_workflows.ts
Due: recreate-dist, lint-staged

update: OOP asset handling draft x 3
  build_runtime_data.js
  package.json
Due: lint-staged

update: OOP asset handling draft x 3
  scripts/processors/EntityProcessor.ts
Due: lint-staged

update: OOP asset handling draft x 4
  scripts/processors/BaseModelMethodProcessor.ts
  scripts/processors/EntityProcessor.ts
  scripts/processors/WorkflowsProcessor.ts
Due: lint-staged

update: OOP asset handling draft x 4
  scripts/processors/EntityProcessor.ts
Due: lint-staged

update: exclude cateroies yaml + skip categorization flag
  scripts/processors/EntityProcessor.ts
Due: lint-staged

update: control cats generation + exclude cats file
  scripts/processors/BaseModelMethodProcessor.ts
  scripts/processors/MethodsProcessor.ts
  scripts/processors/ModelsProcessor.ts
  scripts/processors/WorkflowsProcessor.ts
Due: lint-staged

update: categories keys contol for mms
  dist/js/runtime_data/applicationVersionsMapByApplication.json
  dist/js/runtime_data/applications.json
  dist/js/runtime_data/executableFlavorMapByApplication.json
  dist/js/runtime_data/materials.json
  dist/js/runtime_data/methods.json
  dist/js/runtime_data/modelMethodMap.json
  dist/js/runtime_data/modelMethodMapByApplication.json
  dist/js/runtime_data/models.json
  dist/js/runtime_data/properties.json
  dist/js/runtime_data/subworkflows.json
  dist/js/runtime_data/templatesList.json
  dist/js/runtime_data/workflowSubforkflowMapByApplication.json
  dist/js/runtime_data/workflows.json
  scripts/processors/BaseModelMethodProcessor.ts
  scripts/processors/MethodsProcessor.ts
  scripts/processors/ModelsProcessor.ts
Due: lint-staged

update: transpile between steps
  package.json
Due: lint-staged

chore: dist runtime data
  dist/js/runtime_data/applications.json
  dist/js/runtime_data/applications/applicationVersionsMapByApplication.json
  dist/js/runtime_data/applications/executableFlavorMapByApplication.json
  dist/js/runtime_data/applications/modelMethodMapByApplication.json
  dist/js/runtime_data/applications/templatesList.json
  dist/js/runtime_data/materials.json
  dist/js/runtime_data/methods.json
  dist/js/runtime_data/models.json
  dist/js/runtime_data/models/modelMethodMap.json
  dist/js/runtime_data/properties.json
  dist/js/runtime_data/subworkflows.json
  dist/js/runtime_data/workflows.json
  dist/js/runtime_data/workflows/workflowSubforkflowMapByApplication.json
Due: none

update: import from new places
  src/js/application.ts
  src/js/applicationMethod.ts
  src/js/applicationModel.ts
  src/js/modelMethodFilter.ts
  src/js/workflow.ts
  src/py/mat3ra/standata/data/methods.py
  src/py/mat3ra/standata/data/models.py
Due: lint-staged

update: get correct path
  data/methods/pw/plane_wave_norm_conserving_pseudopotential_conjugate_gradient_diagonalization_gaussian_smearing.json
  data/methods/pw/plane_wave_norm_conserving_pseudopotential_conjugate_gradient_diagonalization_linear_tetrahedron_method.json
  scripts/processors/BaseModelMethodProcessor.ts
  scripts/processors/EntityProcessor.ts
  scripts/processors/MethodsProcessor.ts
  scripts/processors/ModelsProcessor.ts
  scripts/processors/WorkflowsProcessor.ts
Due: lint-staged

chore: generate dist src
  assets/methods/categories.yml
  data/methods/qm/wf/none/smearing/gaussian/plane_wave_norm_conserving_pseudopotential_conjugate_gradient_diagonalization_gaussian_smearing.json
  data/methods/qm/wf/none/tetrahedron/linear/plane_wave_norm_conserving_pseudopotential_conjugate_gradient_diagonalization_linear_tetrahedron_method.json
  dist/js/method.d.ts
  dist/js/runtime_data/methods.json
  src/py/mat3ra/standata/data/methods.py
Due: lint-staged

update: work in progress
  build-config.ts
  scripts/models/build_model_method_map.ts
  scripts/processors/ApplicationsProcessor.ts
  scripts/processors/BaseModelMethodProcessor.ts
  scripts/processors/EntityProcessor.ts
  scripts/processors/MethodsProcessor.ts
  scripts/processors/ModelsProcessor.ts
  scripts/processors/WorkflowsProcessor.ts
  src/js/types/standata.ts
Due: recreate-dist, lint-staged

update: split wfs and swfs
  package.json
  scripts/processors/BaseWorkflowSubworkflowProcessor.ts
  scripts/processors/SubworkflowsProcessor.ts
  scripts/processors/WorkflowsProcessor.ts
  scripts/workflows/build_subworkflows.ts
Due: recreate-dist, lint-staged

update: wfs swfs
  scripts/processors/BaseWorkflowSubworkflowProcessor.ts
  scripts/processors/EntityProcessor.ts
  scripts/processors/SubworkflowsProcessor.ts
  scripts/processors/WorkflowsProcessor.ts
  scripts/workflows/build_subworkflows.ts
  scripts/workflows/build_workflows.ts
Due: recreate-dist, lint-staged

update: cleaups
  build-config.ts
  build_runtime_data.js
  build_runtime_data.ts
  package.json
  scripts/processors/BaseModelMethodProcessor.ts
  scripts/processors/EntityProcessor.ts
Due: lint-staged

chore: fix swfs map
  build-config.ts
Due: lint-staged

chore: commit dist src
  data/workflows/subworkflows/espresso/total_energy.json
  data/workflows/subworkflows/espresso/variable_cell_relaxation.json
  dist/js/base.d.ts
  dist/js/runtime_data/applications.json
  dist/js/runtime_data/methods.json
  dist/js/runtime_data/models.json
  dist/js/runtime_data/subworkflows.json
  dist/js/types/standata.d.ts
  dist/js/types/standata.js
  scripts/processors/BaseModelMethodProcessor.ts
  scripts/processors/EntityProcessor.ts
  src/js/base.ts
  src/js/cli.ts
  src/py/mat3ra/standata/data/subworkflows.py
Due: lint-staged

chore: add test
  tests/py/unit/test_data.py
Due: lint-staged

update: add all models and methods assets
  assets/methods/any_pw_psp_method.yml
  assets/methods/categories.yml
  assets/methods/local_orbital_methods.yml
  assets/methods/units/ao_pople.yml
  assets/methods/units/diagonalization.yml
  assets/methods/units/occupations.yml
  assets/methods/units/psp.yml
  assets/models/categories.yml
  assets/models/gga.yml
  assets/models/gw.yml
  assets/models/hybrid.yml
  assets/models/ml.yml
Due: lint-staged

chore: update tests to match
  tests/js/method.test.ts
  tests/js/model.test.ts
  tests/js/modelMethodFilter.test.ts
Due: lint-staged

update: checkout test for DFT option
  tests/js/model.test.ts
Due: lint-staged

update: cleanup (gemini)
  assets/applications/categories.yml
  assets/methods/categories.yml
  assets/models/categories.yml
  assets/workflows/subworkflows/categories.yml
  assets/workflows/workflows/categories.yml
  build-config.ts
  build_runtime_data.js
  data/methods/none/none/none/none/none/plane_wave_norm_conserving_pseudopotential_conjugate_gradient_diagonalization_gaussian_smearing.json
  data/methods/none/none/none/none/none/plane_wave_norm_conserving_pseudopotential_conjugate_gradient_diagonalization_linear_tetrahedron_method.json
  dist/js/runtime_data/applications.json
  dist/js/runtime_data/methods.json
  dist/js/runtime_data/models.json
  dist/js/runtime_data/subworkflows.json
  dist/js/runtime_data/workflows.json
  package.json
  scripts/applications/build_applications.ts
  scripts/build.ts
  scripts/methods/build_methods.ts
  scripts/models/build_model_method_map.ts
  scripts/models/build_models.ts
  scripts/processors/ApplicationsProcessor.ts
  scripts/processors/BaseModelMethodProcessor.ts
  scripts/processors/BaseWorkflowSubworkflowProcessor.ts
  scripts/processors/EntityProcessor.ts
  scripts/processors/MethodsProcessor.ts
  scripts/processors/ModelsProcessor.ts
  scripts/processors/SubworkflowsProcessor.ts
  scripts/processors/WorkflowsProcessor.ts
  scripts/utils.ts
  scripts/workflows/build_subworkflows.ts
  scripts/workflows/build_workflows.ts
  src/py/mat3ra/standata/runtime_data/applications.py
  src/py/mat3ra/standata/runtime_data/methods.py
  src/py/mat3ra/standata/runtime_data/models.py
  src/py/mat3ra/standata/runtime_data/subworkflows.py
  src/py/mat3ra/standata/runtime_data/workflows.py
Due: recreate-dist, lint-staged
